<div class="example-container" mat-elevation-z8  >
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="seq">
      <th mat-header-cell *matHeaderCellDef > Seq </th>
      <td mat-cell *matCellDef="let element"> {{element.seq}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="event_date" >
      <th mat-header-cell *matHeaderCellDef> Event Date </th>
      <td mat-cell *matCellDef="let element"> {{element.event_date}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="Qualifier">
      <th mat-header-cell *matHeaderCellDef> Qualifier</th>
      <td mat-cell *matCellDef="let element"> {{element.Qualifier}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="event_type">
      <th mat-header-cell *matHeaderCellDef> Event Type </th>
      <td mat-cell *matCellDef="let element"> {{element.event_type}} </td>
    </ng-container>

    
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
</div>




