<div class="container-fluid">
  <!--Section1  start-->
    <div class="row">
      <div class="col-sm-4">
        <label for="">Country:</label>
        <input type="text" value="Denmark" disabled>
      </div>
      <div class="col-sm-3">
        <label for="">Field:</label>
        <input type="text" value="NO" disabled>
      </div>
      <div class="col-sm-3">
        <label for="">Discovery:</label>
        <input type="text" value="" size="4" disabled>
      </div>
      <div class="col-sm-2">
        <label for="">Well ID:</label>
        <input type="text" value="" disabled>
      </div>
    </div>
    <!--Section 2  Start-->
    <div class="row">
      <div class="col-sm-3">
        <label for="">Well Name:</label>
        <input type="text" value="Aabenra" disabled>
      </div>
      <div class="col-sm-3">
        <label for="">Number:</label>
        <input type="text" value="1" disabled>
      </div>
      <div class="col-sm-2">
        <label for="">Des:</label>
        <input type="text" value="Denmark" disabled>
      </div>
      <div class="col-sm-4">
        <label for="">Abb:</label>
        <input type="text" value="5509/30-1" disabled>
      </div>
    </div>
    <!--section-3-->
    <div class="row">
      <div class="col-sm-2">
        <button class="btn-white" (click)="action()">Bottom Hole</button>
      </div>
      <div class="col-sm-1">
        <button class="btn-white">Objectives</button>
      </div>
      <div class="col-sm-1">
        <button class="btn-white">Equipments</button>
      </div>
      <div class="col-sm-1">
        <button class="btn-white">Tests</button>
      </div>
      <div class="col-sm-1">
        <button class="btn-white">Stratigraphy</button>
      </div>
      <div class="col-sm-1">
        <button class="btn-blue">Sampling</button>
      </div>
      <div class="col-sm-1">
        <button class="btn-blue">Costs</button>
      </div>
      <div class="col-sm-1">
        <button class="btn-white">Rig</button>
      </div>
      <div class="col-sm-1">
        <button class="btn-blue">Dev. Survey</button>
      </div>
      <div class="col-sm-1">
        <button class="btn-blue">Chk. Survey</button>
      </div>
      <div class="col-sm-1">
        <button class="btn-blue">Others</button>
      </div>
    </div>
    <!--section 4-->
    <div class="row">
       <!--section 4.1-->
      <div class="col-sm-5">
        <div class="row">
          <div class="col-sm-5">
            <label for="">Period Number</label>
            <input type="text" class="pagination-text">&nbsp;
            <label for="">of</label>&nbsp;
            <input type="text" class="pagination-text">
          </div>
          
          <div class="col-sm-2">
            <button class="btn-blue"><</button>
            <button class="btn-blue">></button>
           
          </div>

          <div class="col-sm-5">
            <label for="">Period Type Intial drill:</label>
            <input type="text"  class="pagination-text">
            <input type="text"  class="pagination-text">
          </div>
        </div>
        <div class="row">
          <div class="panel subpanel">
            <div class="row">
              <div class="col-sm-6">
                <label for="">Start Date:</label>
                <input type="text" value="" disabled>
              </div>
              <div class="col-sm-6">
                <label for="">Qualifier:</label>
                <input type="text" value="" disabled>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <label for="">End Date:</label>
                <input type="text" value="" disabled>
              </div>
              <div class="col-sm-6">
                <label for="">Start Date:</label>
                <input type="text" value="" disabled>
              </div>

            </div>
          </div>
        </div>
      </div>
       <!--section 4.2-->
      <div class="col-sm-7">
        <div class="panel" >
          <!--inside grid-->
          <div class="row">
            <div class="col-sm-4">
              <label for="">Field</label>
              <input type="text" class="">
            </div>

            <div class="col-sm-1">
              <label for="">Numb</label>
              <input type="text" class="lg-text-90" disabled>
            </div>

            <div class="col-sm-1">
              <button class="btn-default">Del</button>
            </div>
            <div class="col-sm-1">
              <button class="btn-default">Del</button>
            </div>

            <div class="col-sm-5">
              <label for="">Resource Type</label>
              <input type="text" class="">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <label for="">prospect</label>
              <input type="text" class="">
            </div>
            <div class="col-sm-1">
              <input type="text" class="lg-text-90" disabled>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
              <button class="btn-default">Del</button>
            </div>
            <div class="col-sm-4">
              <label for="">Unc Type 1</label>
              <input type="text" class="">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8"></div>
            <div class="col-sm-4">
              <label for="">Unc Type 2</label>
              <input type="text" class="">
            </div>

          </div>
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-11"><button class="btn-blue">Plays</button></div>
          </div>
          <!---->
        </div>
      </div>
    </div>
    <!--section 5 -->
      <div class="panel " >
        <div class="row">
          <div class="col-sm-3">
            <label for="">Block:</label>
            <input type="text" value="Denmark" >
          </div>
          <div class="col-sm-4">
            <label for="">Participant:</label>
            <input type="text" value="Denmark" >
          </div>
          <div class="col-sm-3">
            <label for="">Involv.Types:</label>
            <input type="text" value="Denmark" >
          </div>
          <div class="col-sm-2">
            <label for="">Details</label>
            <button class="btn-white">...</button>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <label for="">Contract:</label>
            <input type="text" value="Denmark" disabled>
          </div>
          <div class="col-sm-1">
            <label for="">Stage Nb:</label>
            <input type="text" value="Denmark" class="medium-text" disabled>
          </div>
          <div class="col-sm-3">
            <label for="">Licence Round:</label>
            <input type="text" value="Denmark" disabled>
          </div>
          <div class="col-sm-2">
            <label for="">Rel Nb:</label>
            <input type="text" value="Denmark" disabled>
          </div>
          <div class="col-sm-3">
            <label for="">commitments</label>
            <input type="text" value="Denmark" class="bg-txt" >
          </div>
        </div>
      </div>

      <div class="row"></div>
      <div class="panel">
        <div class="row">
          <div class="col-sm-3">
            <label for="">Intial Class:</label>
            <input type="text" value="New-field wildcart" >
          </div>
          <div class="col-sm-3">
            <label for="">Intial Event:</label>
            <input type="text" value="Spudded" >

          </div>
          <div class="col-sm-3">
            <label for="">Technical Status:</label>
            <input type="text" value="Plugged abandedoned" >
          </div>
          <div class="col-sm-3">
            <label for="">Qualifier:</label>
            <input type="text" value="" >
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <label for="">Final Class:</label>
            <input type="text" value="New-field wildcart" >
          </div>
          <div class="col-sm-3">
            <label for="">Final Event:</label>
            <input type="text" value="Spudded" >

          </div>
          <div class="col-sm-3">
            <label for="">Content Status:</label>
            <input type="text" value="Plugged abandedoned" >
          </div>
          <div class="col-sm-3">
            <label for="">Qualifier:</label>
            <input type="text" value="" >
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-3"></div>
          <div class="col-sm-3">
            <label for="">Input Content:</label>
            <input type="text" value="Plugged abandedoned" >
          </div>
          <div class="col-sm-3">
            <label for="">Qualifier:</label>
            <input type="text" value="" >
          </div>

        </div>
      </div>
      <!--Section 6-->
      <div class="row">
        <div class="col-sm-9">
          <div class="panel">
            <div class="row">
              <div class="col-sm-1">
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"> TD:</div>
              </div>
              <div class="col-sm-11">
                <div class="row">
                  <div class="col-sm-3">
                    <label for="">MD:</label>
                    <input type="text" value="76889" disabled>
                  </div>
                  <div class="col-sm-9">
                    <label for="">ACC:</label>
                    <input type="text" value="Reliable" disabled >
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <label for="">TVD: </label>
                    <input type="text" value="" disabled>
                  </div>
                  
                  <div class="col-sm-3">
                    <label for="">ACC: </label>
                    <input type="text" value="" disabled>
                  </div>
                  <div class="col-sm-2" >
                    <label for="">Units: </label>
                    <input type="text" value="" class="medium-text" disabled>
                  </div>
                  <div class="col-sm-2">
                    <label for="">Details: </label>
                    <input type="text" value="" class="medium-text" disabled>
                  </div>
                  <div class="col-sm-2">
                    <label for="">Dev. Type: </label>
                    <input type="text" value="" class="medium-text" disabled>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <label for="">Footage: </label>
                    <input type="text" value="7689" disabled>
                  </div>
                  <div class="col-sm-3">
                    <label for="">Acc: </label>
                    <input type="text" value="Reliable" disabled>
                  </div>
                  <div class="col-sm-4"></div>
                  <div class="col-sm-2">
                    <button class="btn-blue">Assc Wells</button>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
          <div class="row">
            
          </div>
          
          <div class="panel">
            <div class="row">
              <div class="col-sm-3">
                <label for="">Depth Ref:</label>
                <input type="text" value="76889" >
              </div>
              <div class="col-sm-2">
                <label for="">Elevation:</label>
                <input type="text" value="184"  class="medium-text">
              </div>
              <div class="col-sm-3">
                <label for="">Reliable:</label>
                <input type="text" value="Reliable" class="medium-text" >
              </div>
              <div class="col-sm-2">
                <label for="">Units:</label>
                <input type="text" value="feets" class="medium-text"  >
              </div>
              <div class="col-sm-2">
                <label for="">Details:</label>
                <button class="btn-white">...</button>
              </div>
            </div>
          </div>
          <!--subpanel 6.1-->
        </div>

         <!--subpanel 6.2-->
        <div class="col-sm-3">
          <div class="panel">
            <div class="row">
              <div class="col-sm-3"></div>
              <div class="col-sm-9">
                <label for="">HP/HT</label>
                <input type="text" value="" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-11">
                <label for="">HP/HT Source</label>
                <input type="text" value="" >
              </div>

            </div>
          </div>
          <!--section 7-->
          <div class="row">
            <div class="panel">
              <div class="row">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                  <label for="">Rig Days: </label>
                  <input type="text" value="Reliable" class="medium-text" disabled>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-9">
                  <label for="">Acc: </label>
                  <input type="text" value="Reliable"  disabled>
                </div>
              
              </div>
            </div>

          </div>
          
        </div>
        
        
      </div>
    <!--section 7-->
     <div class="row">
       <!-- <div class="panel"></div> -->
       <app-core-table></app-core-table>
     </div>
     <div class="row">
        <div class="col-sm-1">
         <button class="btn-blue">Ok</button>
        </div>
        <div class="col-sm-2">
         <label for="">Entry</label>
         <input type="text" value="" class="medium-text" disabled>
       </div> 
       <div class="col-sm-2">
        <label for="">Updated</label>
        <input type="text" value="20-JAN-2017" class="medium-text" disabled>
      </div>
      <div class="col-sm-2">
        <button class="btn-blue">New History of operation</button>
      </div>
      <div class="col-sm-2">
        <button class="btn-blue">Decomission Well</button>
      </div>
      <div class="col-sm-1">
        <button class="btn-blue">Period Remarks</button>
      </div> 
      <div class="col-sm-1">
        <button class="btn-blue">List</button>
      </div> 
      <div class="col-sm-1">
        <button class="btn-blue">Help</button>
       
      </div> 
      

     </div>





</div>